<md-sidenav-container>
    <md-sidenav #sidenav mode="side">
        <!-- sidenav content -->
        <a href="/">
            <md-icon class="example-icon">home</md-icon> Home
        </a>
        <a href="/Vehicle">
            <md-icon class="example-icon">directions_car</md-icon> Vehicle
        </a>
    </md-sidenav>
    <md-toolbar color="primary">
        <span> rta-network@1.5.0 </span>
        <span class="example-spacer"></span>
        <button md-icon-button [mdMenuTriggerFor]="menu">
          <md-icon>more_vert</md-icon>
        </button>
        <md-menu #menu="mdMenu">
            <a class="menu-link" href="/">
                <button md-menu-item>
                  <md-icon>home</md-icon>
                  <span>Home</span>
              </button>
            </a>
            <a class="menu-link" href="/">
                <button md-menu-item>
                  <md-icon>home</md-icon>
                  <span>RTA</span>
              </button>
            </a>
            <a class="menu-link" href="/">
                <button md-menu-item>
                  <md-icon>directions_boat</md-icon>
                  <span>Customs</span>
              </button>
            </a>
            <a class="menu-link" href="/">
                <button md-menu-item>
                  <md-icon>home</md-icon>
                  <span>Dealership</span>
              </button>
            </a>
            <a class="menu-link" href="/">
                <button md-menu-item>
                  <md-icon>home</md-icon>
                  <span>Buyer</span>
              </button>
            </a>
            <a class="menu-link" href="/">
                <button md-menu-item>
                  <md-icon>account_balance</md-icon>
                  <span>Bank</span>
              </button>
            </a>
            <a class="menu-link" href="/">
                <button md-menu-item>
                  <md-icon>work</md-icon>
                  <span>Insurance</span>
              </button>
            </a>
            <a class="menu-link" href="/Vehicle">
                <button md-menu-item>
              <md-icon>directions_car</md-icon>
              <span>Vehicle</span>
            </button>
            </a>
        </md-menu>
    </md-toolbar>
</md-sidenav-container>

<router-outlet></router-outlet>
